.digitize {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  &__left {
    margin-left: 100px;
    flex-basis: 405px;
  	&__text {
		width: 370px;
		height: 181px;
		font-size: 40px;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.5;
		letter-spacing: -1px;
		text-align: left;
		color: $white;
  	}
    &__request {
      //width: 450px;
      &__input{
        width: 275px;
        height: 42px;
        font-size: 14px;
        text-indent: 10px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: normal;
        text-align: left;
        color: $whiteTrans;
        border-radius: 2px;
        background-color: #1d1f35;
        border: none;
      }
      &__button {
        width: 127px;
        height: 42px;
        margin-left: -3px;
        border-radius: 2px;
        background-color: $teal;
        border: none;
        font-size: 12px;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: normal;
        text-align: center;
        color: $white;
      }
    }
  }
  &__right {
    margin-left: -100px;
  }
}