$white: #ffffff;
$black: #000000;
$whiteTrans: rgba($white,0.6);
$paleGrey: #fafafc;
$sliderGrey: #bfbfbf;
$teal: #009e81;
$getStarted: #00b896;
$bottomMenu: #35374c;
$footer: rgba(0, 0, 0, 0.25);
$warmGrey: #7f7f7f;
