@font-face {
  font-family: 'Roboto-Light';
  src: url('./fonts/Roboto-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url('./fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url('./fonts/Roboto-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('./fonts/Roboto-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'RobotoSlab-Light';
  src: url('./fonts/RobotoSlab-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'RobotoSlab-Thin';
  src: url('./fonts/RobotoSlab-Thin.ttf') format('truetype');
}

@mixin RobotoLight() {
  font-family: 'Roboto-Light';
}
@mixin RobotoRegular() {
  font-family: 'Roboto-Regular';
}
@mixin RobotoMedium() {
  font-family: 'Roboto-Medium';
}
@mixin RobotoBold() {
  font-family: 'Roboto-Bold';
}
@mixin RobotoSlabLight() {
  font-family: 'RobotoSlab-Light';
}
@mixin RobotoSlabThin() {
  font-family: 'RobotoSlab-Thin';
}

.light {
  @include RobotoLight();
}
.regular {
  @include RobotoRegular();
}
.medium {
  @include RobotoMedium();
}
.bold {
  @include RobotoBold();
}
.slabLight {
  @include RobotoSlabLight();
}
.slabThin {
  @include RobotoSlabThin();
}

